body {
    background-image: url('pexels-ivan-samkov-4491874.jpg');
    background-size: 100% 100%;
    min-height: 900px;
}

.contenu {
    padding-top: 3%;
    margin: 0 auto;
    width: 90%;
    min-height: 500px;
    border-radius: 3px;
}

.contenu a {
    color: aliceblue;
}
.contenu a:hover {
    color: gold;
    font-size: 20px;
}


.tableReferentiel {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 40px;
    background-color: rgba(172, 132, 33, 0.603);
    text-align: center;
}

.milieu {
    border-right: solid 2px black;
    border-left: solid 2px black;
}

#gauche {
    border-top-left-radius: 20px;
}

#droite {
    border-top-right-radius: 20px;
}

tr {
    height: 40px;
}

.corps>td {
    border: 2px solid aliceblue;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}