{% load static %}

<html lang="fr">

<head>
    <title>FENOUIL_LogIn</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'utilisateurs/logIn.css' %}">
</head>

<body>
    <div class='centre'>
        <div class="logIn">
            <h1>Connexion</h1>
        </div>
        <form class="connexion" method="POST">
            {% csrf_token %}
            {% if messageErreur %}
            <p>Donnees Incorrectes</p>
            {% endif %}
            <label for="name">Identifiant :</label>
            <input type="text" id="identifiant-text" name="identifiant">
            <br> <br>
            <label for="name">Password :</label>
            <input type="password" id="password-text" name="motdepass">
            <br> <br>
            <button id="bouton" type="submit" name='logIn'>Se Connecter</button>
        </form>
    </div>


</body>

</html>