{% extends 'referentiel/referentiel_view.html' %}

{%block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'utilisateurs/noAccess.css' %}">
<div class='contenu'>
    <p id='groupes'>
        Vous appartenez aux groupes:
        {% for g in groupes %}
        "{{g}}"
        {% endfor %}
        .
    </p>
    <p>La page que vous essayez de visiter ne vous est pas accessible.</p>

    <p>
        {% if 'referentiel' in groupes %}
        <a href="{% url 'referentiel:home'%}"">Referentiel Home</a>

    {% elif 'publicite' in groupes %}
        <a href=" {% url 'publicite:home' %}"">Publicite Home</a>
        {% elif 'commandes' in groupes %}
        <a href="{% url 'commandes:home'%}"">Commandes Home</a>
    {% endif %}
    </p>
</div>
{%endblock content %}