
{% extends 'referentiel/referentiel_view.html' %}

{%block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'referentiel/afficheArticle.css' %}">

<html>
    <head>

    </head>
    <body>
        <table class = table>
            <tr>
                <td>Id de l'article</td>
                <td>Désignation</td>
                <td>Prix</td>
            </tr>

            {% for i in articles %}
            
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.designation}}</td>
                <td>{{i.prix}}</td>
            </tr>

            {% endfor %}
        </table>
    </body>
</html>

{%endblock content %}