{% extends 'referentiel/referentiel_view.html' %}

{%block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'referentiel/afficheArticle.css' %}">

<div class="contenu">
    <table class="tableReferentiel">
        <tr class="entete">
            <td id=gauche>Id de l'article</td>
            <td class=milieu>Désignation</td>
            <td id=droite>Prix</td>
        </tr>

        {% for i in articles %}

        <tr class="corps">
            <td>{{i.id}}</td>
            <td>{{i.designation}}</td>
            <td>{{i.prix}}</td>
        </tr>

        {% endfor %}
    </table>
</div>

{%endblock content %}