{% extends 'referentiel/referentiel_view.html' %}

{%block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'referentiel/afficheArticle.css' %}">

<html>

<head>

</head>

<body>
    <div class="contenu">
        <table class="tableReferentiel">
            <tr class="entete">
                <td id=gauche>Id </td>
                <td class=milieu>Categorie Commerciale</td>
                <td class=milieu>Nom</td>
                <td class=milieu>Prenom</td>
                <td class=milieu>Date de Naissance</td>
                <td class=milieu>Numero </td>
                <td class=milieu>Rue</td>
                <td class=milieu>CodePostal</td>
                <td class=milieu>Ville</td>
                <td class=milieu>Numero de telephone</td>
                <td class=milieu>Email</td>
                <td id=droite>Categorie Professionnelle</td>
            </tr>
            {% for i in individus %}

            <tr>
                <td>{{i.id}}</td>
                <td>{{i.catcommerciale}}</td>
                <td>{{i.nom}}</td>
                <td>{{i.prenom}}</td>
                <td>{{i.datenaissance}}</td>
                <td>{{i.adresse.numero}}</td>
                <td>{{i.adresse.rue}}</td>
                <td>{{i.adresse.codepostal}}</td>
                <td>{{i.adresse.ville}}</td>
                <td>{{i.ntel}}</td>
                <td>{{i.mail}}</td>
                <td>{{i.catprofessionnelle}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</body>

</html>

{%endblock content %}