{% extends 'referentiel/referentiel_view.html' %}


{%block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'referentiel/createArticle.css' %}">
<div class='article'>
    <form method="post">
        {% csrf_token %}
        <h1>Rentrer un article</h1>
        {{ form.as_p}}
        <input class='btn' type="submit" value="Créer Article" name="article">
    </form>
</div>
<div class='individu'>
    <form method="post">
        {% csrf_token %}
        <h1>Rentrer un utilisateur</h1>
        {{ formInd.as_p}}
        <input class='btn' type="submit" value="Créer Individu">
    </form>
</div>


{%endblock content %}