{% extends 'referentiel/referentiel_view.html' %}

{%block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'referentiel/delete.css' %}">

<div class='contenu'>
    <p>
        Id: {{article.id}}
    </p>
    <p>
        Designation: {{article.designation}}
    </p>
    <p>
        Prix: {{article.prix}}
    </p>

    <form method="post">
        {% csrf_token %}
        <button class='btn' type="submit">Suprimmer Article</button>
        <button class='btn' type="submit" name='annuler'>Annuler</button>
    </form>
</div>
{%endblock content %}