{% extends 'referentiel/referentiel_view.html' %}


{%block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'referentiel/modifier.css' %}">
<div class='contenu'>
<form  method="post">
    {% csrf_token %}
    <h1>Modification Individu</h1>
    {{ form.as_p}}
    <input class='btn' type="submit" value="Modifier Individu" name='modifier'>
    <input class='btn' type="submit" value="Supprimer Individu" name='supprimer'>
</form>
</div>
{%endblock content %}