{% extends 'referentiel/referentiel_view.html' %}

{%block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'referentiel/home.css' %}">

<div class="im1">
    <h1 class='titre'><a href="{% url 'referentiel:affichageReferentielArticles'%}">Articles</a></h1>
    <h1 class='titre'><a href="{% url 'referentiel:affichageReferentielIndividus'%}">Individus</a></h1>
    <h1 class="titre"><a href="{% url 'referentiel:creationReferentiel'%}">Creation referentiel</a></h1>
</div>
{%endblock content %}